<meta charset="utf-8">
<h1>The adventures of captain Lycop: Invasion of the Heters</h1>

<p>
If you have problems getting the game to run, check <a href="http://www.aeronie.fr/lycop/README.html">the latest version of this document</a> or <a href="mailto:aeronie.studio@gmail.com">contact us</a>.

<h2>Getting started</h2>

<h3>Windows</h3>

<p>
Run <code>lycop-demo.exe</code> and follow the instructions on your screen.

<p>
Attention: If you have issues running the game with your integrated graphics card and have an additional, dedicated graphics card in your computer, make sure that you use the dedicated card when running the game.

<h3>Linux</h3>

<p>
Extract <code>lycop-demo-linux-32.tar.gz</code> or <code>lycop-demo-linux-64.tar.gz</code> in a directory.
Open a terminal in this directory and run <code>sh run.sh install</code> to add a launcher in the applications menu.
Or just run <code>sh run.sh start</code> to launch the game.

<h2>Bugs</h2>

<p>
Please report any bugs here: <a href="https://bitbucket.org/aeronie/lycop">bitbucket.org/aeronie/lycop</a>.

<h2>See also</h2>

<ul>
<li>Our website: <a href="http://www.aeronie.fr/">www.aeronie.fr</a>
<li>Our e-mail: <a href="mailto:aeronie.studio@gmail.com">aeronie.studio@gmail.com</a>
<li>Steam Greenlight: <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=433621205">steamcommunity.com/sharedfiles/filedetails/?id=433621205</a>
<li>Facebook: <a href="https://www.facebook.com/pages/Aéronie/333935363456645">www.facebook.com/pages/Aéronie/333935363456645</a>
<li>Twitter: <a href="https://twitter.com/aeronie_studio">twitter.com/aeronie_studio</a>
</ul>

<style>
h2 {margin: 1em 0em}
h3, p, ul {margin: 1em 2em}
code {background: #ddd}
</style>
